<ion-view view-title="About">
	<div ng-include src="'templates/header.html'"></div>
	<ion-content style="padding-top:10px;" has-header="true" class="has-header">
		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/nein.jpg">
		    <h2>News Goblin</h2>
		    <p>A very light app for reading world news</p>
		  </div>
		  <div class="item item-image">
		    <img src="img/blogs-android.jpg">
		  </div>
		    <div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item positive" href="https://www.facebook.com/travis.bickle.54">
				  <i class="icon ion-thumbsup"></i>
				  Like
				</a>
				<a class="tab-item positive" href="https://www.facebook.com/travis.bickle.54">
				  <i class="icon ion-chatbox"></i>
				  Comment
				</a>
				<a class="tab-item positive" href="https://www.facebook.com/travis.bickle.54">
				  <i class="icon ion-share"></i>
				  Share
				</a>
			</div>
		</div>
		<div style="height:60px;"></div>
	</ion-content>
	<a ng-href="{{brand.link}}" class="bar bar-footer bar-energized item item-thumbnail item-thumbnail-left">
		<img ng-src="{{brand.image}}"/>
		<h2>{{brand.name}}&reg;</h2>
		<p style="color:#666">{{brand.info}}</p>
	</a>
</ion-view>