<ion-view view-title="{{title}}">
	<div ng-include src="'templates/header.html'"></div>
	<ion-nav-bar align-title="center" has-header="true" class="bar-dark bar-subheader has-header">
		<h1 class="title subtitleFont">{{title}}</h1>
	</ion-nav-bar>
	<ion-content has-header="true" has-subheader="true" class="content-chill has-header has-subheader">
	  <ion-refresher pulling-text="Pull to refresh" on-refresh="init()"></ion-refresher>
	  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" does-continue="true">
	    <ion-slide ng-repeat="cover in covers">
	      <div class="cover-box">
	      	<img ng-src="{{cover.image}}" err-src="img/404.png" class="img-responsive img-center"/>
	      </div>
	    </ion-slide>
	  </ion-slide-box>
	</ion-content>
</ion-view>