<ion-view view-title="{{title}}">
	<div ng-include src="'templates/header.html'"></div>
	<ion-nav-bar align-title="center" has-header="true" class="bar-dark bar-subheader has-header">
		<h1 class="title subtitleFont">{{title}}</h1>
	</ion-nav-bar>
	<ion-content has-header="true" has-subheader="true" class="content-chill has-header has-subheader">
	  <ion-refresher pulling-text="Pull to refresh" on-refresh="init()"></ion-refresher>
	  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" does-continue="true">
	    <ion-slide ng-repeat="cover in covers">
	      <div class="cover-box">
	      	<img ng-click="imageClick($index)" ng-src="{{cover.image}}" err-src="img/404.png" class="img-responsive img-center"/>
	      </div>
	    </ion-slide>
	  </ion-slide-box>
	</ion-content>
</ion-view>

<script id="cover-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-dark">
      <h1 class="title subtitleFont">{{selected.title}}</h1>
    </ion-header-bar>
    <ion-content>
		<ion-scroll zooming="true" direction="xy" style="width:500px;height:500px">
		  <div style="width: 5000px; height: 5000px; background: url({{selected.image}}) repeat"></div>
		 </ion-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" ng-click="closeModal()" class="bar-positive">
	  <h1 class="title">Back</h1>
	</ion-footer-bar>
  </ion-modal-view>
</script>
