<ion-header-bar align-title="center" class="bar bar-header bar-lightgray" ng-controller="HeaderController">
    <div class="buttons">
        <a ng-click="toBlogs()" class="button button-icon icon ion-ios-paper-outline"></a>
        <a ng-click="toCovers()" class="button button-icon icon ion-ios-glasses-outline"></a>
    </div>
	<h1 class="title titleFont title-center">News Goblin</h1>
    <div class="buttons">
        <a ng-click="toAbout()" class="button button-icon icon ion-ios-information-outline"></a>
    </div>
</ion-header-bar>