<ion-view view-title="{{title}}">
	<div ng-include src="'templates/header.html'"></div>
	<ion-nav-bar align-title="center" has-header="true" class="bar-dark bar-subheader has-header">
		<h1 class="title subtitleFont">{{title}}</h1>
	</ion-nav-bar>
	<ion-content has-header="true" has-subheader="true" class="has-header has-subheader" ng-init="init()">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="init()"></ion-refresher>
		<!-- <div class="spinner" ng-show="loading">
			<ion-spinner icon="android">
			</ion-spinner>
		</div> -->

		<div class="list">
		<!-- <pre class="item item-text-wrap item-animate">{{connection}}</pre>-->
			<a ng-repeat="entry in entries" class="item-text-wrap item-animate" ng-class="itemClass(entry)" ng-click="itemClick(entry)">
				<img ng-show="!entry.expanded" ng-src="{{entry.mediaGroups[0].contents[1].url || entry.mediaGroups[0].contents[0].url}}"/>
				<i class="icon ion-link" ng-click="browse(entry.link)"></i>
				<h2 style="margin-bottom:10px;">{{entry.title}}</h2>
				<p class="animate-show" ng-show="entry.expanded" ng-bind-html="entry.content"></p> 
				<h6>{{entry.publishedDate}}</h6>
			</a>
		</div>
	</ion-content>
</ion-view>