<ion-view view-title="{{title}}">
	<ion-nav-bar align-title="center" class="bar-dark">
<!-- 		<ion-nav-buttons side="left">
			<button class="button button-clear no-animation" ng-click="previousSlide()">
				<i class="ion-arrow-left-b"></i>
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right"> 
			<button class="button button-clear no-animation" ng-click="nextSlide()">
				<i class="ion-arrow-right-b"></i>
			</button>
		</ion-nav-buttons> -->
		<h1 class="title subtitleFont">{{title}}</h1>
	</ion-nav-bar>	

	<!-- style="padding-top:10px;margin-bottom:25px;" -->
	<ion-content ng-init="init()">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="init()"></ion-refresher>
		<div class="list">
			<a ng-repeat="entry in entries" class="item-text-wrap item-animate" ng-class="itemClass(entry)" ng-click="itemClick(entry)">
				<img ng-show="!entry.expanded" ng-src="{{entry.mediaGroups[0].contents[1].url || entry.mediaGroups[0].contents[0].url}}"/>
				<i class="icon ion-link" ng-click="browse(entry.link)"></i>
				<h2 style="margin-bottom:10px;">{{entry.title}}</h2>
				<p class="animate-show" ng-show="entry.expanded" ng-bind-html="entry.content"></p> 
				<h6>{{entry.publishedDate}}</h6>
			</a>
		</div>
	</ion-content>
</ion-view>