<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.examplerssreader916017" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>News Lite</name>
  <description>
    News Lite: A light Android App for reading the news.  
  </description>
  <author email="mpouxlhs_xar@yahoo.com" href="http://ionicframework.com/">
      Bouclhis Charalampos
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/default.png" density="ldpi"/>
    <icon src="resources/android/icon/mipmap-mdpi/ic_launcher.png" density="mdpi"/>
    <icon src="resources/android/icon/mipmap-hdpi/ic_launcher.png" density="hdpi"/>
    <icon src="resources/android/icon/mipmap-xhdpi/ic_launcher.png" density="xhdpi"/>
    <icon src="resources/android/icon/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi"/>
    <icon src="resources/android/icon/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/res-long-land-ldpi/default.png" density="land-ldpi"/>
    <splash src="resources/android/splash/res-long-land-mdpi/default.png" density="land-mdpi"/>
    <splash src="resources/android/splash/res-long-land-hdpi/default.png" density="land-hdpi"/>
    <splash src="resources/android/splash/res-long-land-xhdpi/default.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/res-long-land-xxhdpi/default.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/res-long-land-xxxhdpi/default.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/res-long-port-lhdpi/default.png" density="port-ldpi"/>
    <splash src="resources/android/splash/res-long-port-mdpi/default.png" density="port-mdpi"/>
    <splash src="resources/android/splash/res-long-port-hdpi/default.png" density="port-hdpi"/>
    <splash src="resources/android/splash/res-long-port-xhdpi/default.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/res-long-port-xxhdpi/default.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/res-long-port-xxxhdpi/default.png" density="port-xxxhdpi"/>
  </platform>
</widget>